<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <%= render 'form', tweet: @tweet %>
<% end %>


<h1 class = text-center>Tweets</h1>
    

<table class ='table'>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.content %></td>
        <td><strong>Tweeted By:</strong> <%= tweet.user.username %></td>
        <td><img src="<%= tweet.user.profile_photo %>" width="60" height="60" class="round-circle mb-2" ></td>
        
        <td>
        <td><% if signed_in? %> 
              <% if current_user.liked? tweet %>
                <%= link_to dislike_tweet_path(tweet.id), method: :put do %>
                  <%= image_tag("like.png", :alt => "Like", height: 18, width: 20) %>
                  <%= tweet.get_likes.size %>
                <% end %>
              <% else %>
                <%= link_to like_tweet_path(tweet), method: :put do %>
                  <%= image_tag("dislike.png", :alt => "Like", height: 18, width: 20) %>
                  <%= tweet.get_likes.size %>
                <% end %>
              <% end %>
              | <%= link_to 'Rt', tweet_retweet_path(tweet), method: :post %> 
                <%= tweet.count_rt%>
                <td><% if tweet.is_retweet?%>
                  <p>retweeted from:</p><%= tweet.user.username%> </td>
                <% end %></td>
          <% end %>
          <td><%= link_to time_ago_in_words(tweet.created_at),tweet %></td>

        </td>
        
        
        <% if user_signed_in? && (tweet.user_id == current_user.id) %>
          <td><%= link_to 'Edit', edit_tweet_path(tweet) , class: 'btn btn-warning' %></td>
          <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="p-4">
        <div class="text-center">
            <%= link_to_prev_page @tweets, "Show less", class: "btn btn-dark btn-sm text-11" %>
            <%= link_to_next_page @tweets, "Show more", class:"btn btn-dark btn-sm text-11"%>
        </div>
</div>
<%#= paginate @tweets %>
<br>

