<p id="notice"><%= notice %></p>

<div class="card" style="width: 70%;">

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><img src="<%= @tweet.user.profile_photo %>" width="100" height="100" class="rounded-circle mb-2"> <strong>Tweeted By:</strong> <%= @tweet.user.username %></li>
    <li class="list-group-item">What <strong><%= @tweet.user.username %></strong> said: <%= @tweet.content %> </li>
    <li class="list-group-item"><strong>Liked by:</strong> <br>
      <% @tweet.votes_for.voters.each do | p | %> 
        <img src="<%= p.profile_photo %>" width="60" height="60" class="round-circle mb-2" >
      <% end%> 
    </li>
  </ul>
</div>

<section id="all-links">
  
    <% if current_user.followers.include?(@user) %>
        <h5><%= button_to "Unfollow", unfollow_user_path, method: "POST" %></h5>
    <% else %>
        <h5><%= button_to "Follow", follow_user_path, method: "POST"  %></h5>
    <% end%>
    
    
    <br>

</section>

  <%= link_to 'Back', tweets_path, class: 'btn btn-dark' %>
